<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igus_gripper">
    
    <!-- Properties -->
    <xacro:property name="mesh_location" value="package://aries/meshes"/>
    
    <!-- Base link (world) -->
    <link name="world"/>
    
    <!-- Fake arm end-effector link (link6) that gripper expects -->
    <link name="link6">
        <visual>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
    </link>
    
    <!-- Fixed joint from world to link6 -->
    <joint name="world_to_link6" type="fixed">
        <parent link="world"/>
        <child link="link6"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>
    
    <!-- Include gripper xacro (it will attach to link6) -->
    <xacro:include filename="$(find aries)/urdf/gripper.xacro"/>
    
</robot>
